<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>监听器</title>
    <script src="../js/vue.global.prod.js"></script> 
</head>
<body>
    <div id="app">
        <label>语文: <input v-model="chinese" type="number"></label><br>
        <label>数学: <input v-model="math" type="number"></label><br>
        <label>英语: <input v-model="english" type="number"></label><br>
        <p>您的总分是: {{ totalScore }}</p>
        <p>您的平均分是: {{ averageScore }}</p>
    </div>

    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    chinese: 0,
                    math: 0,
                    english: 0,
                    totalScore: 0,
                    averageScore: 0
                };
            },
            watch: {
                chinese() {
                    this.calculateScores();
                },
                math() {
                    this.calculateScores();
                },
                english() {
                    this.calculateScores();
                }
            },
            methods: {
                calculateScores() {
                    this.totalScore = this.chinese + this.math + this.english;
                    this.averageScore = this.totalScore / 3;
                }
            }
        }).mount('#app');
    </script>
</body>
</html>
